h3{
    text-align: center;
    color:white;
}
h1{
    text-align: center;
    color: white;
}
p{
    color: burlywood;
    text-align: center;
    font-size: 20px;
}
li{
    color: burlywood;
    margin-left: 20%;
}
.img{
    margin-left: 42%;
}
body{
    /* background-image: url("back.jpg"); */
    background-color: black;
}

img{
    margin-left: 40%;
    margin-top: -19%;
    height: 60%;
    width: 23%;
}
.tag{
    /* color: black; */
    color: white;
}
hr{
    border: 2px solid black;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color:purple;
    color: #fff;
    margin-left: 47%;
    border-radius: 2rem;
  }
  small{
      margin-left: 45%;
  }
